.usersPage {
    padding: 24px;
}

.pagination {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    span:hover {
        cursor: pointer;
        color: blueviolet;
    }
}

.activePage {
    font-weight: 600;
    color: blueviolet;
}

.userItem {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;

    img {
        width: 96px;
        height: 96px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}