img {
    width: 264px;
}

.profileInfo {
    display: flex;
    gap: 12px;

    img {
        max-width: 200px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        font-weight: 600;
    }
}
